body {
  line-height: 2;
}

.navbar.navbar-light .nav-item a:hover {
  color: #666;
}



.date {
  font-size: 0.6em;
  letter-spacing: 2px;
}

.bio-section p {
  padding: 0 20px;
}

.bio-section,
.achievements-section {
  background: #fbfbfb; 
  padding: 90px 0 90px;
}

.bio-section h2,
.achievements-section h2,
.more-section h2 {
  margin-bottom: 40px;
}


.achievements-section .container {
  padding: 0 35px;
}

.achievements-section ul > li {
  padding-bottom: 25px;
}

.blockquote {
 margin-top: 9.375em;
}

.main-footer {
  background: #fbfbfb;
  text-align: center;
  padding: 20px 0 0;
}